.c-item{
     height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 8px;
}
.left-line {
    border-left: 2px solid silver;
    padding-left: 50px;
}